<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!--Add Bootstrap-->
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css" />
    <link rel='stylesheet' href="/stylesheets/style.css" />
    <link rel='stylesheet' , href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' />


</head>
<body>


    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/">Project</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <i class="fa fa-angle-double-down"></i>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/men">men</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Women">Women</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kids">Kid's</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/offers">Offers</a>
                </li>





                {{#if user}}

                <li class="nav-item">
                    <a class="nav-link" href="/tasks">Tasks</a>
                </li>

                {{/if}}
            </ul>
            <ul class="navbar-nav ml-auto">


                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist"><img src="/images/wishlist1.png"><span class="caption">WishList</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bag"><img src="/images/bag1.png"><span class="caption">Bag</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><img src="/images/profile1.png"><span class="caption">{{user.username}}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><img src="/images/logout.png"><span class="caption">Logout</span></a>
                </li>

                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/profile"><img src="/images/profile1.png"><span class="caption">Profile</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist"><img src="/images/wishlist1.png"><span class="caption">WishList</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bag"><img src="/images/bag1.png"><span class="caption">Bag</span></a>
                </li>

                {{/if}}

            </ul>
        </div>
    </nav>


    {{{body}}}
    <footer class="page-footer font-small pt-4">
        <div class="footer-copyright text-center py-3">
            &copy
            <script type="text/javascript">
                document.write(" " + new Date().getFullYear() + " ");
            </script>Copyright: <a id="footera">Harsha//Karuturi</a>
        </div>
        <div class="footer-social">
            <a href="https://www.instagram.com/harsha_karuturi/"><i class="fa fa-instagram"></i></a>
            <a href="https://github.com"><i class="fa fa-github"></i></a>
            <a href="https://twitter.com/Harsha98097595"><i class="fa fa-twitter"></i></a>
        </div>
    </footer>
</body>


<script src="/javascripts/bootstrap.min.js"></script>
<!--Add JQUERY-->
<script src="/javascripts/jquery.min.js"></script>
<!--Custom JS-->
<script src="/javascripts/scripts.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</html>