<h1>Login</h1>

{{#if messages}}
<div class="alert alert-danger">{{messages}}</div>
{{else}}
<div class="alert alert-info">Please Enter Your Credentials </div>
{{/if}}
<form method="post">
    <fieldset class="form-group">
        <label for="username" class="col-sm-2 control-label">Username: *</label>
        <input name="username" id="username" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="password" class="col-sm-2 control-label">Password: *</label>
        <input name="password" id="password" type="password" required />
    </fieldset>

    <button class="btn btn-success offset-2">Login</button>
    
    <!--Social Login-->
    <a href="/google" title="Login with Google">
        <img src="/images/google-icon.png" alt="Google" width="45px" height="45px" />
    </a>

    <a href="/facebook" title="Login with Facebook">
        <img src="/images/facebook.png" alt="Facebook" width="45px" height="45px" />
    </a>
    <hr />
    <hr />

    <fieldset>
        Need Access? <a href="profile" title="Register">Register</a>
    </fieldset>
</form>