<h3> Edit men's Details</h3>

<form method="post">
    <fieldset class="form-group">
        <label class="control-label col-md-2"> Name: *</label>
        <input name="name" id="name" required value="{{ task.name }}" />
    </fieldset>
    <!--<fieldset class="form-group">
        <label class="control-label col-md-2"> Complete: *</label>
        <checkbox name="complete" id="complete" />
    </fieldset>-->
    <fieldset class="form-group">
        <label class="control-label col-md-2"> quantity: *</label>
        <select name="quantity" id="quantity">
            <script>
                //ref the selected element
                var quantity = document.getElementById('quantity')
                for (var i = 1; i <= 5; i++)
                {
                    //create a new option inside the select element
                    var option = document.createElement('option')
                    //display the current counter as athe new option text
                    option.innerHTML = i.toString()
                    //if the new option matches the task priority mark the option as selected
                    if ({{ task.quantity}} == i.toString())
                    {
                        option.selected = true
                    }
                    //add new <option> element to the <select> object
                    quantity.append(option)
                }
            </script>
        </select>
    </fieldset>
    <fieldset>
        <label class="control-label col-md-2">size: </label>
        {{#if task.size}}
        <input type="checkbox" id="size" name="size" checked="checked" />
        {{else}}
        <input type="checkbox" id="size" name="size" />
        {{/if}}
    </fieldset>
    <input type="hidden" name="_id" id="_id" value="{{tasks._id}}" />
    <button class="col-md-offset-2 btn btn-primary">Save</button>
</form>